// 700 Oswald-Bold
@font-face {
	font-family: 'oswald-bold';
	src: url('../files/fonts/Oswald-Bold.eot');
	src: local('☺'), url('../files/fonts/Oswald-Bold.woff') format('woff'), url('../files/fonts/Oswald-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
	font-display: auto;
}
// 400 Merriweather-Regular
@font-face {
	font-family: 'merriweather-regular';
	src: url('../files/fonts/Merriweather-Regular.eot');
	src: local('☺'), url('../files/fonts/Merriweather-Regular.woff') format('woff'), url('../files/fonts/Merriweather-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}
