@import "./modules/_global";
@import "./modules/_header";
@import "./modules/aside";
@import "./modules/actionCard";
@import "./modules/slider";
@import "./modules/_modal";
@import "./modules/delivery";
@import "./modules/tabs";

.main{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
}

.content{
    width: calc(100% - 120px);
    background-color: rgb(31, 31, 31);
}
